.activites-titre {
    margin-top: 40px;
}

.activites-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.activites-carte {
    border-radius: 20px;
    margin: 0px 10px 50px 10px;
    box-shadow: 10px 10px 7px #F2F2F2;
    padding-bottom: 10px;
    width: auto;
    transition: all 300ms ease-in-out;
}

.activites-carte img {
    width: 330px;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.activites-carte-titre {
    margin: 15px;
}

.activites-sous-carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}