@font-face {
    font-family: "Raleway";
    src: url('police/Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url('police/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
}